.blog-cards {
    width: 80%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
}

.card {
    flex: 0 0 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
}

.card h3 {
    color: var(--orange-500);
}

.card img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

@media screen and (max-width: 1168px) {
    .blog-cards {
        width: 100%;
    }

    .card {
        flex: 0 0 calc(50% - 16px); /* 2 colunas */
    }
}

@media screen and (max-width: 768px) {
    .blog-cards {
        gap: 24px;
    }

    .card {
        flex: 0 0 100%; /* 1 coluna */
    }

    .card img {
        max-height: 300px;
    }
}
