@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --red-500: #D13D2E;
    --orange-700: #EF7A37;
    --orange-500: #F28A14;
    --orange-100: #F6EAD4;
    --yellow-500: #FFB027;
    --yellow-100: #FFC561;
    --green-800: #112a20;
    --green-700: #1B4332;
    --green-300: #1e3f32;
    --gray-300: #D9D9D9;
    --gray-100: #F9F9ED;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

ul { list-style: none; }

a { text-decoration: none; }

button,
input {
    outline: none;
}

.wd-80 {
    width: 80%;
}

.wd-50 {
    width: 50%;
}

.text-upper {
    text-transform: uppercase;
}

.container {
    padding: 40px;
}

.two-column {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
    box-sizing: border-box;
}

.two-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.bg-orange {
    background-color: var(--orange-100);
}

.col {
    flex: 1 1 0;
    min-width: 300px;
}

.col-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.col-img {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.col-img img {
    width: 100%;
    object-fit: contain;
}

.title {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--orange-500);
    line-height: 1.1;
}

.title.big {
    font-size: 74px;
}

.subtitle {
    font-size: 24px;
    font-weight: 900;
}

.subtitle.red { color: var(--red-500); }
.subtitle.orange { color: var(--orange-500); }
.subtitle.yellow { color: var(--yellow-500); }
.subtitle.yellow-light { color: var(--yellow-100); }

.description {
    font-size: 18px;
    font-weight: 500;
    color: var(--green-700);
}

.btn-content {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.btn {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.0.1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn strong,
.btn.big {
    font-size: 16px;
    font-weight: 600;
}

.btn .btn-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn.green { background-color: var(--green-700); }
.btn.green:hover { background-color: var(--green-800); }

.btn.orange { background-color: var(--orange-500); }
.btn.orange:hover { background-color: var(--orange-700); }


.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.carousel-card {
    flex: 0 0 33%;
    padding: 0 8px;
    box-sizing: border-box;
}

.carousel-card img {
    width: 100%;
    object-fit: cover;
}

.carousel-card h3 {
    color: var(--orange-500);
}

.carousel-info .value {
    font-size: 128px;
    color: var(--green-700);
    font-weight: 900;
    line-height: 1;
}

.carousel-info .label {
    font-size: 24px;
    color: var(--green-700);
    text-align: center;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background: none;
    border: none;
    color: var(--red-500);
    cursor: pointer;
    z-index: 2;
}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

.dots {
    display: flex;
    gap: 8px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0.3;
    transition: all 0.2s;
    cursor: pointer;
}

.dots.green .dot { background-color: var(--green-300); }
.dots.orange .dot { background-color: var(--orange-700); }

.dot.active {
    opacity: 1;
    width: 72px;
    border-radius: 20px;
}

/* Menu */
.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: white;

    position: fixed;
    width: 100%;
    top: 0;
    height: 90px;
    box-shadow: 0px 2px 9px 0px #0000002b;
    z-index: 999;
}

.menu-logo img {
    height: 55px;
}

.menu-items ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.menu-items ul li a {
    color: var(--green-700);
    font-size: 20px;
    font-weight: 500;
}

/* Como Funciona */
.how-work {
    padding: 80px 40px 0;
    margin-bottom: 20px;
}

.how-work .col-img {
    justify-content: flex-start;
}

.how-work .col-img img {
    width: auto !important;
}

.steps {
    display: flex;
    align-items: center;
    gap: 20px;
}

.step {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

.fade {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.step.red {
    border: 2px solid var(--red-500);
    color: var(--red-500);
}

.step.orange {
    border: 2px solid var(--orange-700);
    color: var(--orange-700);
}

.step.yellow {
    border: 2px solid var(--yellow-500);
    color: var(--yellow-500);
}

.step.yellow-light {
    border: 2px solid var(--yellow-100);
    color: var(--yellow-100);
}

.step.active.red {
    background-color: var(--red-500);
    color: white;
}

.step.active.orange {
    background-color: var(--orange-500);
    color: white;
}

.step.active.yellow {
    background-color: var(--yellow-500);
    color: white;
}

.step.active.yellow-light {
    background-color: var(--yellow-100);
    color: white;
}

.line {
    width: 80px;
    height: 2px;
    border-radius: 6px;
    background-color: var(--green-700);
}

/* Parceiros */
.companies-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Blog */
.blog-carousel .carousel {
    padding: 0 40px;
    box-sizing: border-box;
}


/* Rodapé  */
footer .col-img img {
    width: auto !important;
}

.download-app {
    position: relative
}

.download-app::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: -100px;
    width: 60%;
    height: 100%;
    background-color: var(--orange-100);
    z-index: -1;
    border-top-right-radius: 68px;
    border-bottom-right-radius: 68px;
    margin: auto;
}

.footer-content {
    position: relative;
    padding: 100px 40px 20px;
}

.footer-content::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--orange-700);
    z-index: -2;
}

.footer-content .col-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: white;
}

.footer-content .col-info a {
    color: white;
    font-size: 20px;
}

.footer-content .col-img {
    justify-content: center;
}

.footer-info {
    color: white;
    font-size: 16px;
}